.productiveSection {
  background: hsl(218, 28%, 13%);
  display: flex;
  flex-direction: column;
  padding: 57px 27px 0;
  gap: 18px;
}

.stayProductive {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.productiveSection > img {
  width: 301px;
  display: flex;
  margin: auto;
}

.productiveSection h3 {
  font-family: "Raleway", sans-serif;
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 30px;
}

.productiveSection h3 br {
  display: none;
}

.productiveSection p {
  font-family: "Open Sans", sans-serif;
  color: hsl(0, 0%, 100%);
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 0.4px;
}

.howItWorks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid cyan;
  width: 139px;
}

.howItWorks p {
  color: hsl(176, 68%, 64%);
  font-size: 12px;
  padding-bottom: 4px;
}

@media (min-width: 1440px) {
  .productiveSection {
    flex-direction: row;
    padding: 57px 110px 0;
    gap: 50px;
  }

  .stayProductive {
    justify-content: center;
  }

  .productiveSection > img {
    width: unset;
  }

  .productiveSection h3 {
    font-size: 38px;
    line-height: 1.3;
  }

  .productiveSection h3 br {
    display: unset;
  }

  .productiveSection p {
    font-size: 15.5px;
  }

  .howItWorks {
    width: 170px;
  }
}
