.featureCard {
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.featureCard img {
  width: 64px;
  margin-bottom: 25px
}

.featureCard h3 {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}

.featureCard p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

@media (min-width: 1440px) {
  .featureCard {
    width: 39%;
    margin: auto;
  }

  .featureCard img {
    width: unset;
  }

  .featureCard h3 {
    font-size: 18px;
  }

  .featureCard p {
    font-size: 13.5px;
  }
}
